* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: azure
  }
  header h1{
    text-align: center;
    color: #333;
  }

  h2, .newPost{
    text-align: center;
    color: #333;
  }

  .login-form,
  .signUpForm{
    color: #333;
    border: #333;
  } 
  
.nav-bar-items {
  text-align: center;
  background-color: azure;
  color: #333;
}

